<div class="course-detail-container p-4 max-w-4xl mx-auto">

  <h1 class="text-3xl font-bold mb-2">{{course?.title}} </h1>
  <p class="text-gray-700 mb-4">{{course?.description}}.</p>

  @if(role === 'instructor'&& canAddLesson){
    
    <button (click)="showDropdown = !showDropdown" class="btn btn-primary">Ders Ekle</button>
    @if(showDropdown){
      <div class="dropdown-panel mt-2 p-4 border rounded bg-light">
        <input [(ngModel)]="newLessonTitle" placeholder="Ders Başlığı" class="m-2" />
        <input [(ngModel)]="newLessonContent" placeholder="Ders İçeriği" class="m-2" />
        <button (click)="addLesson()" class="btn btn-success m-2">Kaydet</button>
        <button (click)="showDropdown = false" class="btn btn-secondary">İptal</button>
      </div>
    }
  } 
  
  @else if (role === 'student') { 
    @if(isEnrolled) {
      <div class="text-green-600 font-semibold">✅ Bu kursa zaten kayıtlısınız</div>
    } @else {
      <button (click)="joinCourse()" class="btn btn-primary">Kursa Katıl</button>
    }
  }
  <h2 class="text-2xl font-semibold mb-2 mt-4">Dersler</h2>

  <ul>
    @if(lessons.length > 0) {
      @for (lesson of lessons; track lesson.id) {
        <li class="border p-3 rounded mb-2 flex flex-col gap-2">
          <div class="flex justify-between items-center">
            <div>
              <h3 class="text-lg font-medium">{{ lesson.title }}</h3>
              <p class="text-gray-600 text-sm">{{ lesson.content }}</p>
            </div>

            @if(role=== 'instructor') {
              <div class="flex gap-2">
                <button (click)="startEditing(lesson)" class="btn btn-success m-1">Düzenle</button>
                <button (click)="deleteLesson(lesson.id)" class="btn btn-danger m-1">Sil</button>
              </div>
            }
          </div>

          @if(editingLesson?.id === lesson.id) {
            <div class="dropdown-panel mt-2 p-4 border rounded bg-light">
              <input [(ngModel)]="editedLessonTitle" placeholder="Ders Başlığı" class="m-2" />
              <textarea [(ngModel)]="editedLessonContent" placeholder="Ders İçeriği" class="m-2 "></textarea>
                <button (click)="saveEdits()" class="btn btn-success">Kaydet</button>
                <button (click)="cancelEditing()" class="btn btn-secondary">İptal</button>
            </div>
          }
        </li>
      }
    } @else {
      <p class="text-gray-500 mt-4">Bu kursta henüz ders eklenmemiş.</p>
    }
  </ul>

</div>